body {
    background: white url("images/background.png") no-repeat center center;
    background-size: cover; /* Rozszerza obraz, aby pokryć całe tło */
}

h1 {
    color: aqua;
}

h1, h2, li {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    color: red;
}

li a {
    text-decoration: none;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 30px;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #333;
    color: white;
    text-align: center;
    line-height: 50px; /* wyśrodkowanie tekstu w pionie */
}